/* All the CSS related to answers Page*/
.answer {
    display: flex;
    flex-direction: row;
    border-bottom: #000000 1px dashed;
}

.answerText {
    width: 75%;
}

.answerAuthor {
    margin-left: 5%;
}

.answer_author {
    color: green;
}

.answer_votes {
    width: 15%;
}

.vote_button {
    margin: 5px;
}

.hidden {
    display: none;
  }